* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #6f29f0;
}

::selection {
  color: #fff;
  background-color: #6f29f0;
}

.wrapper {
  max-width: 570px;
  width: 100%;
  padding: 25px 30px;
  border-radius: 7px;
  background-color: #fff;
  box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.10);
}

.wrapper header {
  font-size: 28px;
  font-weight: 500;
  text-align: center;
}

.wrapper form {
  margin: 35px 0 20px;
}

form .row {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

form .row label {
  font-size: 18px;
  margin-bottom: 5px;
}

form .row:nth-child(2) {
  font-size: 17px;
}

form :where(textarea, select, button) {
  outline: none;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 5px;
}

form .row textarea {
  resize: none;
  height: 110px;
  font-size: 15px;
  padding: 8px 10px;
  border: 1px solid #999;
}

form .row textarea::-webkit-scrollbar {
  width: 0;
}

form .row .outer {
  height: 47px;
  display: flex;
  padding: 0 10px;
  align-items: center;
  border-radius: 5px;
  justify-content: center;
  border: 1px solid #999;
}

form .row select {
  font-size: 14px;
  background: none;
}

form .row select::-webkit-scrollbar {
  width: 8px;
}

form .row select::-webkit-scrollbar-track {
  background-color: #fff;
}

form .row select::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
  border-right: 2px solid #fff;
}

form button {
  height: 52px;
  color: #fff;
  font-size: 17px;
  background-color: #6f29f0;
  cursor: pointer;
  margin-top: 10px;
  transition: .3s ease;
}

form button:hover {
  background-color: #5a04d7;
}